{{> menu active="dashboard"}}

<section class="box has-text-centered">
  <h3 class="is-3 title">
    Main Dashboard
  </h3>
  <div class="section">
    <p>
      This is the main dashboard view
    </p>
  </div>
</section>
